<ion-header>
  <ion-toolbar>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


<ion-list>

  <ion-item (click)="presentAlert()" detail>
    <ion-avatar slot="start">
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label>
      Kevin Bustos
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label>
      Gonzalo Villalobos
    </ion-label>
  </ion-item>

</ion-list>

  



</ion-content>
